@*@model IEnumerable<ConsumeMCC67API.Models.Product>*@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Microsoft.AspNetCore.Http


<table class="table table-bordered table-hover" id="tableProduct">
    <thead class="thead-dark text-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Supplier Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Id)</td>
                <td>@Html.DisplayFor(model => item.Name)</td>
                <td>@Html.DisplayFor(model => item.Supplier.Name)</td>
                <td>
                    <a class="btn btn-warning" asp-route-id="@item.Id" asp-action="Edit">Edit</a>
                    <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">Delete</a>
                </td>
            </tr>
        }*@
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Create" asp-controller="Product">Add Product</a>

@*@section Scripts{
    <script>
        $(document).ready(function () {
    $('#tableProduct').DataTable({
        "ajax": {
            "url": "https://localhost:44313/api/product",
            "dataType": "json",
            "dataSrc": "data",
            "headers": {
                "Authorization": "Bearer @Context.Session.GetString("JWToken")"
            },
        },
        "columns": [{
                "data": "id",
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {
                "data": "name"
            },
            {
                "data": "supplier.name"
            },
            {
                // data: null,
                render: function (data, type, row) {

                    return `
                    <a href="https://localhost:44317/product/edit/${row['id']}" class="btn btn-warning">
                        Edit
                    </a>
                    <a type="button" href="https://localhost:44317/product/delete/${row['id']}" class="btn btn-danger">
                        Delete
                    </a>`
                }
            }
        ]
    });
});
    </script>
    
}*@