@model IEnumerable<ConsumeMCC67API.Models.Supplier>

@*Library for showing token on views*@
@*@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@

<h1>Supplier List</h1>

@*Showing Token On Views*@
@*<p>
    @HttpContextAccessor.HttpContext.Session.GetString("Token")
</p>*@

<table class="table table-bordered table-info table-hover">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Supplier Name</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(model => item.Id)</td>
				<td>@Html.DisplayFor(model => item.Name)</td>
				<td>
					<a class="btn btn-warning" asp-route-id="@item.Id" asp-action="Edit">Edit</a>
					<a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<a class="btn btn-primary" asp-action="Create" asp-controller="Supplier">Add Supplier</a></table>